{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css')}}">
{% endblock %}

{% block title %}
Driftbee -- {{ title }}
{% endblock %}

{% block flashes %}
{% endblock %}

{% block content %}
	<section>
		<h1>{{ title }}</h1>
		<form action="" method="POST">
			{{form.hidden_tag()}}
			<table>
				{{ render_field(form.description, size=50) }}
				{{ render_field(form.destination, size=50) }}
				{{ render_field(form.outbound_date, size=50) }}
				{{ render_field(form.outbound_time, size=50) }}
				{{ render_field(form.inbound_date, size=50) }}
				{{ render_field(form.inbound_time, size=50) }}
				{{ render_field(form.url, size=50) }}
				{{ render_field(form.tags, size=50, id="tags") }}
				<tr class="submit">
					<td></td>
					<td><button type="submit"> Submit</button></td>
				</tr>
			</table>
		</form>
	</section>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/vendor/select2.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
			var _tags = {{ all_tags()|map(attribute='name')|list|tojson|safe}};
		$('#tags').select2({tags: _tags, tokenSeparators: [","," "]});
	});
</script>
{% endblock %}